.home-contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;

    //height: 100%;

    //width: device-width;
    height: 693px;

    //naranja-camara
    //background: linear-gradient(to bottom, rgba(255, 145, 77, 1), rgba(255, 145, 77, 0));

    //background: linear-gradient(to bottom, rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5));
    background-image: url("../../static/assets/images/fondos/antigua.jpg");
    //background-color: transparent;
    background-size: cover;
    opacity: 0.6;
    
    //verde-camara
    //background: linear-gradient(to right, rgba(126, 217, 87, 1), rgba(126, 217, 87, 0));
    //azul-camara
    //background: linear-gradient(to right, rgba(56, 182, 255, 1), rgba(56, 182, 255, 0));

    //Gris
    //background: linear-gradient(to bottom, rgba(192, 194, 196, 1), rgba(192, 194, 196, 0));

    .home-left {
        padding-left: 20px;

        color: white;
        font-weight: 900;

        .home-left-foto {
            display: flex;
            justify-content: center;
            align-items: center;

            .foto-verde {
                width: 40%;
                height: 40%;
                transform: rotate(25deg);
            }

            .foto-negra {
                width: 30%;
                height: 30%;
                transform: rotate(-30deg);
            }
        }
    }

    .home-right {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 50%;
            height: 50%;
        }
    }
}

// Queries
@media screen and (max-width: 450px) {
    .home-contenedor {
        display: grid;
        grid-template-columns: 1fr;
        font-size: 0.8rem;
    }

    .home-left {
        order: 2;

        h3 {
            text-align: center;
            padding-right: 7px;
        }

        .home-left-foto {
            margin-top: 25px;
        }
    }

    .home-right {
        order: 1;
    }
}