.login {
    display: flex;
    //flex-direction: column;
    //display: grid;
    //grid-template-columns: 1fr;

    justify-content: center;
    align-items: center;
    margin-top: 80px;

    .login-contenedor {
        @include base-grid();
        //width: 35%;
        width: 66vw;
        height: 500px;
        grid-template-columns: 1fr;
        border: 2px solid $naranja-camara;
        border-radius: 15px;

        //background: rgba(255, 145, 77, 0.3);
        background: linear-gradient(to left, rgba(255, 145, 77, 1), rgba(255, 145, 77, 0));

        @media screen and (max-width: 1000px) {
            //width: 80%;
            width: 66vw;

            .login-contenedor-texto {
                padding-top: 10px;
                font-size: 0.7rem;
            }
        }

        .login-contenedor-img {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 20%;
            }
        }

        .login-contenedor-texto {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: -80px;
            height: 80%;
        }

        .login-contenedor-error {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: -150px;
            color: $rojo;
        }        

        .login-contenedor-form {
            @include base-grid();
            grid-template-columns: 1fr;
            padding: 20px 80px;
            margin-top: -100px;

            .one-column {
                @include base-grid();
                grid-template-columns: 1fr;
            }
            
            .two-column {
                @include base-grid();
                grid-template-columns: 1fr 1fr;
            }

            @include input-element();
            input {
                margin-bottom: 0px;
            }

        }

    }

}