.masvistos-contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;

    color: white;
    font-weight: bold;

    height: 659px;
    //background: linear-gradient(to bottom, rgba(56, 182, 255, 1), rgba(56, 182, 255, 0));
    background-image: url("../../static/assets/images/fondos/antigua2.jpg");
    background-size: cover;
    opacity: 0.6;

    .carrusel {
        display: flex;
        width: 800px;
        height: 500px;

        .carrusel-div2 {
            width: 0px;
            flex-grow: 1;
            opacity: .9;
            transition: 0.5s ease;
            background-color: red;

            &:hover {
                cursor: crosshair;
                width: 300px;
                opacity: 1;
                filter: contrast(120%);
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

// Queries
@media screen and (max-width: 1000px) {
    .masvistos-contenedor {
        h1 {
            font-size: 1.3rem;
        }

        .carrusel {
            width: 600px;
            height: 300px;

            .carrusel-div2 {
                &:hover {
                    width: 150px;
                }
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .masvistos-contenedor {
        h1 {
            font-size: 0.9rem;
        }
        .carrusel {
            width: 350px;
            height: 150px;

            .carrusel-div2 {
                &:hover {
                    width: 90px;
                }
            }
        }
    }
}
