//Estilos para recuerdos
.recuerdos-contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;

    .contenido-contenedor {
        display: flex;
        flex-direction: column;
        width: 800px;

        //background-color: $offwhite;
        //background: linear-gradient(to bottom, rgba(229, 231, 233, 1), rgba(229, 231, 233, 0));

        a {
            text-decoration: none;
            color: $azul-camara;
            transition: 0.5s ease-in-out;

            &:hover {
                color: $verde-camara;
            }
        }

        h1 {
            font-size: 1.5em;
        }

        .imagen-contenedor {
            img {
                margin: 15px 0px;
                width: 100%;
                height: 350px;
                border-radius: 25px;
                object-fit: cover;
            }
        }
    }
}

//Estilos para recuerdo-detalle
.recuerdos-contenedor-detalle {
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 100vw;

    .contenido-contenedor-detalle {
        display: flex;
        flex-direction: column;
        width: 50%;

        .fecha, .nombre {
            color: $verde-camara;
            font-weight: 700;
        }
    }

    .imagen-contenedor-detalle {
        display: flex;
        flex-direction: column;
        
        img {
            margin-top: 25px;
            width: 100%;
            height: 600px;
            border-radius: 10px;
            box-shadow: 0 0 10px 8px $verde-camara;
        }
    }
}

//Estilos para recuerdo-item
.recuerdo-item-contenedor {
    display: flex;
    flex-direction: column;

    .info {
        display: flex;
        justify-content: space-around;
        margin: 12px 0px;

        .info-columna {
            display: flex;
            flex-direction: column;

            .info-columna-icono {
                display: flex;
                justify-content: center;
                color: $azul-camara;
            }

            .info-columna-dato {
                display: flex;
                justify-content: center;
                //color: $verde-camara;
                font-weight: 900;
            }
        }

    }
}

//Estilo de la raya
.raya-contenedor {
    display: flex;
    justify-content: center;
    margin: 10px 0px;

    .raya {
        border: 1px solid lightgray;
        width: 100%;
    }
}

//Estilos de num-megusta
.enlaces {
    a {
        cursor: pointer;
        opacity: 1;

        &:hover {
            opacity: 0.5;
            transition: 0.5s ease-in-out;
 
            // Para rotar el texto
            /*transition: 0.2s;
            transform: rotate(-360deg);

            -webkit-transform: rotate(-360deg);
            -moz-transform: rotate(-360deg);
            -o-transform: rotate(-360deg);
            position: absolute;*/
        }
    }
}

// Queries
@media screen and (max-width: 1000px) {
    //Estilos para recuerdos
    .recuerdos-contenedor {
        font-size: 0.8rem;

        .contenido-contenedor {
            width: 95vw;
            align-items: center;
            margin-left: 10px;
            font-size: 0.8em;
        }

        h1 {
            font-size: 1.3em;
        }
    }

    //Estilos para recuerdo-item
    .info-columna {
        margin-right: 7px;
    }

    //Estilos para recuerdo-detalle
    .recuerdos-contenedor-detalle {
        //align-items: center;
        font-size: 0.7em;

        .contenido-contenedor-detalle {
            margin-left: 15px;
        }

        .imagen-contenedor-detalle {
            img {
                margin-left: 25px;
                width: 80%;
                height: 400px;
                border-radius: 8px;
                box-shadow: 0 0 8px 6px $verde-camara;
            }
        }
    }
}

@media screen and (max-width: 400px) {
    //Estilos para recuerdos
    .recuerdos-contenedor {
        font-size: 0.8rem;

        .contenido-contenedor {
            h1 {
                font-size: 1em;
            }
        }
    }

    //Estilos para recuerdo-detalle
    .recuerdos-contenedor-detalle {
        font-size: 0.5em;
    }
}