.recuerdo-manager-wrapper {
    display: grid;
    grid-template-columns: 4fr 1fr;

    .left-column {
        background-color: $offwhite;
        //background-color: $naranja-camara;
        //background-color: lightgray;
    }

    .right-column {
        //background-color: $charcoal;
        //background-color: $verde-camara;

        background-color: lightgreen;
        //background: linear-gradient(to bottom, rgba(126, 217, 87, 1), rgba(126, 217, 87, 0));
    }
}