.recuerdo-form-contenedor {
    @include base-grid();
    grid-template-columns: 1fr;
    padding: 20px;

    border: 3px solid $naranja-camara;
    border-radius: 10px;
    margin: 10px;

    @include input-element();
    input {
        margin-bottom: 0px;
    }

    textarea {
        border: 1px solid $teal;
        background-color: transparent;
        font-size: 1rem;
        height: 100px;
        outline: none;
        padding: 10px;
    }
    
    /*.select-element {
        border: 1px solid #ccc;
        font-size: 0.8rem;
        width: 100%;
        border-radius: 3px;
        overflow: hidden;
        background-color: transparent;
        outline: none;
    }*/

    .image-uploader {
        @include base-grid();
        grid-template-columns: 200px;
        //height: 300px;

        .portfolio-manager-image-wrapper {
            img {
                width: 100%;
                height: 120px;
                object-fit: cover;
                border-radius: 5px;
            }

            /*.image-removal-link {
                display: flex;
                justify-content: center;

                a {
                    font-weight: 900;
                    color: $warning;
                    cursor: pointer;
                }
            }*/
        }
    }

    .color-desactivada {
        background-color: lightgray;
        border: 1px solid black;
        text-align: center;
        border-radius: 15px;
        width: 100px;
    }

    .color-activada {
        background-color: green;
        border: 1px solid black;
        text-align: center;
        border-radius: 15px;
        width: 100px;
    }
}

// Queries
@media screen and (max-width: 850px) {
    .recuerdo-form-contenedor {
        width: 80vw;

        textarea {
            font-size: 0.6rem;
            height: 60px;
            width: 400px;
            padding: 5px;
        }

        .usuarios-etiquetas {
            div {
                display: grid;
                grid-template-columns: 1fr 1fr;

                label {
                    width: 80px;
                }
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .recuerdo-form-contenedor {

        textarea {
            height: 40px;
            width: 280px;
            padding: 2px;
        }

        .image-uploader {
            grid-template-columns: 100px;
        }

        .usuarios-etiquetas {
            div {

                label {
                    width: 40px;
                }
            }
        }
    }
}