$teal: #26bfd4;
$dark-teal: #207b88;
$charcoal: #42454a;
$offwhite: #f6f6f6;
$blue: #008dff;
$warning: #922a2a;
$grey: #8a8a8a;

$azul-camara: #38b6ff;
$naranja-camara: #ff914d;
$verde-camara: #7ed957;
$blanco: #ffffff;
$negro: #000000;

$naranja: #f5b041;
$naranja-claro: #fdebd0;
$marron: #7e5109;
$amarillo-naranja: #f4d03f;
$coral: #f1948a;
$gris: #e5e7e9;
$rojo: #ff0000;
